<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jan
            <span class="text-primary">Mesarc</span>
        </h1>
        <div class="subheading mb-5">
            Czech Republic
            <a href="mailto:jan.mesarc@outlook.com">jan.mesarc@outlook.com</a>
        </div>
        <p class="lead mb-3">
            Hi, I'm a passionate game programmer and web developer. Some of the skills and technologies I use are:
            - <strong>C#</strong>, <strong>C/C++</strong>, HTML, CSS, TypeScript
            - <strong>ASP.NET</strong>, Xamarin Forms, <strong>.NET MAUI</strong>, Godot, <strong>Unreal Engine</strong>.
        </p>
        <p class="lead mb-3">
            I have been interested in IT technologies since I was a kid, and programming has become my favorite hobby.
            I enjoy creating games that are fun, immersive, and challenging.
            I also like to explore new web technologies and design user-friendly applications.
            You can find some of my projects on <a href="https://github.com/jame581" target="_blank">GitHub</a> and <a href="https://jame581.itch.io/" target="_blank">itch.io</a>, where I publish games that I develop in my spare time.
            If you are interested in working with me or hiring me, feel free to contact me.
            You can also follow me on Twitter and LinkedIn, where I share my insights and updates on game development and web development.
        </p>
        <p class="lead mb-5">
            My dreams comes true and I'm working as full-time Game Programmer since 2021. I'd like to
            develop awesome games. At the moment, I'm trying to bring my own projects to life.
            Don't forget check out my GitHub and itch.io, where are published my projects.
            My last projects are built on the Unreal Engine. Also, I learning with game engine Godot.
            In addition, I develop web aplications using ASP.NET Core and mobile applications in Xamarin Forms.
        </p>
        <div class="social-icons row justify-content-md-left">
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.linkedin.com/in/jan-mesarc/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://twitter.com/jame581">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.facebook.com/mesarc.jan">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://github.com/jame581">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://jame581.itch.io/">
                <i class="fa-brands fa-itch-io"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://www.reddit.com/user/jame_581">
                <i class="fa-brands fa-reddit-alien"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="me" href="https://mastodon.gamedev.place/@@jame_581">
                <i class="fa-brands fa-mastodon"></i>
            </a>
        </div>
    </div>
</section>