<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Master's degree</div>
                <div>Information Technology</div>
                <ul>
                    <li>During my master’s program, I continued to deepen my programming skills. I explored advanced topics in software development, including design patterns, algorithms, and software architecture.</li>
                    <li>As part of my master’s program, I delved into the fascinating world of advanced data structures and algorithms. I studied topics such as AVL trees, threaded binary trees, expression trees, and B-trees.</li>
                    <li>Throughout my master’s journey, I engaged with advanced C# and C++ classes that went beyond the basics. I honed my skills in object-oriented programming, inheritance, polymorphism, and design patterns.</li>
                    <li>
                        Completed my diploma thesis Design and implementation of a multiplatform mobile application for a smart home
                    </li>
                    <li>Served as an instructor for Introduction to C and C# for 2 years</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2017 - September 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Bachelor’s degree</div>
                <div>Information Technology</div>
                <ul>
                    <li>Explored excellent IT majors at the University of Pardubice</li>
                    <li>As part of my studies, I had the opportunity to explore the exciting world of game development using Unity.</li>
                    <li>Throughout my study time, I immersed myself in various programming courses like Java, C/C++, C#. These classes ignited my passion for coding and problem-solving.</li>
                    <li>One of the most captivating aspects of my studies was diving into data structures, algorithms or databases. Understanding how data is organized and optimized for efficient processing fascinated me.</li>
                    <li>Completed my bachelor thesis Development of a multi-platform game in Unity3D</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2014 - June 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">VOŠ a SŠT Česká Třebová</h3>
                <div class="subheading mb-3">Electrical Engineering Program</div>
                <ul>
                    <li>I successfully completed the Cisco Certified Network Associate (CCNA) program, covering modules 1, 2, and 3.</li>
                    <li>During my studies, I delved into fascinating topics related to networking and operating systems. These subjects ignited my interest and laid the foundation for my IT journey.</li>
                    <li>Realized my passion lies in IT and programming</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
        </div>
    </div>
</section>