<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Developer</h3>
                <div class="subheading mb-3"><a href="https://www.flying-rat.studio/" target="_blank">Flying Rat Studio</a></div>
                <ul>
                    <li>Develop, test, and debug software applications using Unreal Engine.</li>
                    <li>Specialize in networking and gameplay systems for multiplayer games.</li>
                    <li>Work on significant projects such as <a href="https://store.steampowered.com/app/1663640/The_Last_Oricru__Final_Cut/" target="_blank">The Last Oricru</a>, <a href="https://store.steampowered.com/app/1733240/Phantom_Fury/" target="_blank">Phantom Fury</a> and <a href="https://www.beatsaber.com/" target="_blank">Beat Saber</a>.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Programmer</h3>
                <div class="subheading mb-3">Freelancer</div>
                <ul>
                    <li>Create various mobile and web applications using ASP.NET and Xamarin Forms.</li>
                    <li>Use ASP.NET, Blazor, Xamarin Forms and .NET MAUI to build mobile and web applications.</li>
                    <li>Create games and software using various programming languages and technologies, such as C#, C/C++, HTML, CSS, and TypeScript.</li>
                    <li>Focus on game development and Unreal Engine projects as a freelancer.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Game Programmer</h3>
                <div class="subheading mb-3"><a href="https://www.grip-digital.com/" target="_blank">Grip Digital</a></div>
                <ul>
                    <li>Worked as a gameplay and UI programmer for game studio Grip Digital.</li>
                    <li>Used Unreal Engine and C++ to create games for PC and console platforms.</li>
                    <li>Contributed to games such as Mothergunship and The Solus Project.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2021 - January 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.NET Programmer</h3>
                <div class="subheading mb-3"><a href="https://www.rationis.eu/" target="_blank">Rationis</a></div>
                <ul>
                    <li>Participated in the development of the ARC system, a comprehensive system for remote management of inflatable halls from Calypso.</li>
                    <li>Used .NET, ASP.NET, and Xamarin Forms to create web and mobile applications.</li>
                    <li>Learned new technologies such as React and Bobril.</li>
                    <li>Worked as an external worker for Quadient Company on their Inspire Cloud project.</li>
                    <li>Developed cloud-based solutions using .NET, ASP.NET, and Azure.</li>
                    <li>Collaborated with a team of programmers and designers to deliver high-quality products.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2019 - December 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET Programmer</h3>
                <div class="subheading mb-3"><a href="https://unicorn.com/" target="_blank">Unicorn</a></div>
                <ul>
                    <li>Participated in the development of software for energy technologies using .NET, C#, and JavaScript.</li>
                    <li>Developed the backend and frontend parts of the Damas project for Nordic countries.</li>
                    <li>Worked with web technologies such as Angular JS and Knockout.</li>

                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET and Xamarin Programmer</h3>
                <div class="subheading mb-3">Profi Credit Czech a.s.</div>
                <ul>
                    <li>Developed a mobile application in Xamarin for internal use.</li>
                    <li>Used C# and .NET framework to create the application and the backend solution.</li>
                    <li>Developed WCF services for communication with mobile applications.</li>
                    <li>Participated in the development of new internal systems using .NET and ASP.NET.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2017 - October 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Linux Administator</h3>
                <div class="subheading mb-3">3n</div>
                <ul>
                    <li>Worked part-time for 3N.cz as a Linux Administrator.</li>
                    <li>Automated administrative tasks, wrote scripts, and configured different technologies and servers.</li>
                    <li>Learned how to work with tools like Docker, Nomad, Terraform, Ansible, and more.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2017 - March 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Develox s.r.o</div>
                <ul>
                    <li>Worked for Develox s.r.o as a junior web developer.</li>
                    <li>Developed web applications using ASP.NET, C#, and HTML.</li>
                    <li>Participated in developing static websites, e-shops, and other web projects.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2015 - January 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">IT Service</h3>
                <div class="subheading mb-3"><a href="https://www.vtdata.cz/" target="_blank">VT Data</a></div>
                <ul>
                    <li>Worked as a service technician for VT Data, a company that provides IT solutions and services.</li>
                    <li>Repaired, rebuilt, and maintained computers, laptops, servers, printers, and accessories.</li>
                    <li>Troubleshot and resolved hardware and software issues for customers and clients.</li>
                    <li>Used tools and technologies such as screwdrivers, soldering irons, multimeters, diagnostic software, and operating systems.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2013 - March 2014</span></div>
        </div>
    </div>
</section>
