<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        <h3 class="mb-3">Games on itch.io</h3>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3228898?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/brain-and-gut">Brain and Gut by JaMe, hubacekjakub, Merulon, ‧₊˚✧[𝐊𝐚𝐲𝐚]✧˚₊‧</a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3173877?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/pocketwatch">Pocketwatch by JaMe, hubacekjakub, Merulon</a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3107182?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/stellar-secrets">Stellar Secrets by JaMe, hubacekjakub, Mountain Mist, Merulon, SimplePixelated</a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/2588090?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/night-in-the-mouseum">Night In The Mouseum by jame581, Hedyjan, Mountain Mist</a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1841291?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/shoot-numbers">
                        Shoot Numbers by
                        jame581
                    </a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1418155?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/romw">
                        Rocket of Milky Way by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1418268?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/submarinened">
                        Submarinened by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <!-- Mobile view -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3228898?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/brain-and-gut">Brain and Gut by JaMe, hubacekjakub, Merulon, ‧₊˚✧[𝐊𝐚𝐲𝐚]✧˚₊‧</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3173877?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/pocketwatch">Pocketwatch by JaMe, hubacekjakub, Merulon</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3107182?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/stellar-secrets">Stellar Secrets by JaMe, hubacekjakub, Mountain Mist, Merulon, SimplePixelated</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/2588090?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/night-in-the-mouseum">Night In The Mouseum by jame581, Hedyjan, Mountain Mist</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1841291" width="208" height="167"><a href="https://jame581.itch.io/shoot-numbers">Shoot Numbers by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418155" width="208" height="167"><a href="https://jame581.itch.io/romw">Rocket of Milky Way by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418268" width="208" height="167"><a href="https://jame581.itch.io/submarinened">Submarinened by jame581</a></iframe>
            </div>
        </div>
    </div>
</section>

@code {

}
