<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>

        <!-- Professional projects -->
        <h3 class="mb-3">Professional Games</h3>

        <!-- Desktop/tablet (>= lg) -->
        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <div class="border rounded p-3 h-100">
                    <h4 class="mb-1">The Last Oricru <small class="text-muted">(2022)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/1663640/The_Last_Oricru/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="border rounded p-3 h-100">
                    <h4 class="mb-1">Phantom Fury <small class="text-muted">(2024)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/1733240/Phantom_Fury/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <div class="border rounded p-3 h-100">
                    <h4 class="mb-1">Beat Saber <small class="text-muted">(2018)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/620980/Beat_Saber/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="border rounded p-3 h-100">
                    <h4 class="mb-1">Darkest Dungeon 1 <small class="text-muted">(2016)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/262060/Darkest_Dungeon/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>

        <!-- Mobile (< lg) -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4 d-lg-none">
            <div class="flex-grow-1">
                <div class="border rounded p-3">
                    <h4 class="mb-1">The Last Oricru <small class="text-muted">(2022)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/1663640/The_Last_Oricru/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4 d-lg-none">
            <div class="flex-grow-1">
                <div class="border rounded p-3">
                    <h4 class="mb-1">Phantom Fury <small class="text-muted">(2024)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/2231450/Phantom_Fury/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4 d-lg-none">
            <div class="flex-grow-1">
                <div class="border rounded p-3">
                    <h4 class="mb-1">Beat Saber <small class="text-muted">(2018)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/620980/Beat_Saber/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <div class="border rounded p-3">
                    <h4 class="mb-1">Darkest Dungeon 1 <small class="text-muted">(2016)</small></h4>
                    <a class="btn btn-sm btn-outline-secondary mt-2" href="https://store.steampowered.com/app/262060/Darkest_Dungeon/" target="_blank" rel="noopener noreferrer">View on Steam</a>
                </div>
            </div>
        </div>

        <!-- Hobby projects -->
        <h3 class="mb-3">Games on itch.io</h3>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3228898?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/brain-and-gut">Brain and Gut by JaMe, hubacekjakub, Merulon, ‧₊˚✧[𝐊𝐚𝐲𝐚]✧˚₊‧</a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3173877?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/pocketwatch">Pocketwatch by JaMe, hubacekjakub, Merulon</a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/3107182?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/stellar-secrets">Stellar Secrets by JaMe, hubacekjakub, Mountain Mist, Merulon, SimplePixelated</a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/2588090?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/night-in-the-mouseum">Night In The Mouseum by jame581, Hedyjan, Mountain Mist</a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1841291?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/shoot-numbers">
                        Shoot Numbers by
                        jame581
                    </a>
                </iframe>
            </div>
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1418155?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/romw">
                        Rocket of Milky Way by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <div class="row d-none d-lg-flex">
            <div class="col-lg-6 mb-5">
                <iframe frameborder="0" src="https://itch.io/embed/1418268?linkback=true" width="100%" height="167">
                    <a href="https://jame581.itch.io/submarinened">
                        Submarinened by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <!-- Mobile view -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3228898?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/brain-and-gut">Brain and Gut by JaMe, hubacekjakub, Merulon, ‧₊˚✧[𝐊𝐚𝐲𝐚]✧˚₊‧</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3173877?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/pocketwatch">Pocketwatch by JaMe, hubacekjakub, Merulon</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/3107182?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/stellar-secrets">Stellar Secrets by JaMe, hubacekjakub, Mountain Mist, Merulon, SimplePixelated</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/2588090?linkback=true" width="208" height="167"><a href="https://jame581.itch.io/night-in-the-mouseum">Night In The Mouseum by jame581, Hedyjan, Mountain Mist</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1841291" width="208" height="167"><a href="https://jame581.itch.io/shoot-numbers">Shoot Numbers by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418155" width="208" height="167"><a href="https://jame581.itch.io/romw">Rocket of Milky Way by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418268" width="208" height="167"><a href="https://jame581.itch.io/submarinened">Submarinened by jame581</a></iframe>
            </div>
        </div>
    </div>
</section>

@code {

}