<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <p>
            I'm a skilled and passionate programmer with a focus on game development and mobile platforms. Some of the skills and technologies I use are:
            - C#, C/C++, HTML, CSS, TypeScript
            - Xamarin Forms, ASP.NET, .NET MAUI, Blazor
            - Godot, Unreal Engine
            - Windows, Linux, Docker, Nomad, Terraform, Ansible

            I have been working full-time with Unreal Engine for the last three years, developing games that are fun, immersive, and challenging. Some of the games I have worked on are The Last Oricru and Phantom Fury.

            I also have experience with managing operating systems and computer networks. I have completed the Cisco Academy CCNA course.
        </p>
        <div class="subheading mb-3">Programming Languages</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Programming language</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>C#</td>
                    <td>Expert</td>
                    <td>ASP.NET, .NET MAUI, Xamarin</td>
                </tr>
                <tr class="info">
                    <td>C++</td>
                    <td>Proficient</td>
                    <td>Game development, Unreal Engine</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Frameworks & Tools</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Framework / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>.NET</td>
                    <td>Expert</td>
                    <td>Web and mobile development</td>
                </tr>
                <tr class="success">
                    <td>ASP.NET Core</td>
                    <td>Proficient</td>
                    <td>A cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Blazor</td>
                    <td>Proficient</td>
                    <td>A open source cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Xamarin Forms, .NET MAUI,</td>
                    <td>Proficient</td>
                    <td>A cross-platform desktop and mobile applications</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Game Development</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Game Engine / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>Unreal Engine</td>
                    <td>Advanced</td>
                    <td>Game development, C++, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Unity</td>
                    <td>Intermediate</td>
                    <td>Game development, Desktop</td>
                </tr>
                <tr class="info">
                    <td>Godot</td>
                    <td>Advanced</td>
                    <td>Game development, C#, Desktop</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
