@page "/"
@using Portfolio.Components

<PageTitle>Jan Mesarc - Portfolio</PageTitle>

<AnchorNavigation />

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jan
            <span class="text-primary">Mesarc</span>
        </h1>
        <div class="subheading mb-5">
            Czech Republic
            <a href="mailto:jan.mesarc@outlook.com">jan.mesarc@outlook.com</a>
        </div>
        <p class="lead mb-3">
            Hi, I'm a passionate game programmer and web developer. Some of the skills and technologies I use are:
            - <strong>C#</strong>, <strong>C/C++</strong>, HTML, CSS, TypeScript
            - <strong>ASP.NET</strong>, Xamarin Forms, <strong>.NET MAUI</strong>, Godot, <strong>Unreal Engine</strong>.
        </p>
        <p class="lead mb-3">
            I have been interested in IT technologies since I was a kid, and programming has become my favorite hobby.
            I enjoy creating games that are fun, immersive, and challenging.
            I also like to explore new web technologies and design user-friendly applications.
            You can find some of my projects on <a href="https://github.com/jame581" target="_blank">GitHub</a> and <a href="https://jame581.itch.io/" target="_blank">itch.io</a>, where I publish games that I develop in my spare time.
            If you are interested in working with me or hiring me, feel free to contact me.
            You can also follow me on Twitter and LinkedIn, where I share my insights and updates on game development and web development.
        </p>
        <p class="lead mb-5">
            My dreams comes true and I'm working as full-time Game Programmer since 2021. I'd like to
            develop awesome games. At the moment, I'm trying to bring my own projects to life.
            Don't forget check out my GitHub and itch.io, where are published my projects.
            My last projects are built on the Unreal Engine. Also, I learning with game engine Godot.
            In addition, I develop web aplications using ASP.NET Core and mobile applications in Xamarin Forms.
        </p>
        <div class="social-icons row justify-content-md-left">
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.linkedin.com/in/jan-mesarc/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://twitter.com/jame581">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.facebook.com/mesarc.jan">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://github.com/jame581">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://jame581.itch.io/">
                <i class="fa-brands fa-itch-io"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://www.reddit.com/user/jame_581">
                <i class="fa-brands fa-reddit-alien"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="me" href="https://mastodon.gamedev.place/@@jame_581">
                <i class="fa-brands fa-mastodon"></i>
            </a>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Developer</h3>
                <div class="subheading mb-3"><a href="https://www.flying-rat.studio/" target="_blank">Flying Rat Studio</a></div>
                <ul>
                    <li>Develop, test, and debug software applications using Unreal Engine.</li>
                    <li>Specialize in networking and gameplay systems for multiplayer games.</li>
                    <li>Work on significant projects such as <a href="https://store.steampowered.com/app/1663640/The_Last_Oricru__Final_Cut/" target="_blank">The Last Oricru</a>, <a href="https://store.steampowered.com/app/1733240/Phantom_Fury/" target="_blank">Phantom Fury</a> and <a href="https://www.beatsaber.com/" target="_blank">Beat Saber</a>.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Programmer</h3>
                <div class="subheading mb-3">Freelancer</div>
                <ul>
                    <li>Create various mobile and web applications using ASP.NET and Xamarin Forms.</li>
                    <li>Use ASP.NET, Blazor, Xamarin Forms and .NET MAUI to build mobile and web applications.</li>
                    <li>Create games and software using various programming languages and technologies, such as C#, C/C++, HTML, CSS, and TypeScript.</li>
                    <li>Focus on game development and Unreal Engine projects as a freelancer.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Game Programmer</h3>
                <div class="subheading mb-3"><a href="https://www.grip-digital.com/" target="_blank">Grip Digital</a></div>
                <ul>
                    <li>Worked as a gameplay and UI programmer for game studio Grip Digital.</li>
                    <li>Used Unreal Engine and C++ to create games for PC and console platforms.</li>
                    <li>Contributed to games such as Mothergunship and The Solus Project.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2021 - January 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.NET Programmer</h3>
                <div class="subheading mb-3"><a href="https://www.rationis.eu/" target="_blank">Rationis</a></div>
                <ul>
                    <li>Participated in the development of the ARC system, a comprehensive system for remote management of inflatable halls from Calypso.</li>
                    <li>Used .NET, ASP.NET, and Xamarin Forms to create web and mobile applications.</li>
                    <li>Learned new technologies such as React and Bobril.</li>
                    <li>Worked as an external worker for Quadient Company on their Inspire Cloud project.</li>
                    <li>Developed cloud-based solutions using .NET, ASP.NET, and Azure.</li>
                    <li>Collaborated with a team of programmers and designers to deliver high-quality products.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2019 - December 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET Programmer</h3>
                <div class="subheading mb-3"><a href="https://unicorn.com/" target="_blank">Unicorn</a></div>
                <ul>
                    <li>Participated in the development of software for energy technologies using .NET, C#, and JavaScript.</li>
                    <li>Developed the backend and frontend parts of the Damas project for Nordic countries.</li>
                    <li>Worked with web technologies such as Angular JS and Knockout.</li>

                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET and Xamarin Programmer</h3>
                <div class="subheading mb-3">Profi Credit Czech a.s.</div>
                <ul>
                    <li>Developed a mobile application in Xamarin for internal use.</li>
                    <li>Used C# and .NET framework to create the application and the backend solution.</li>
                    <li>Developed WCF services for communication with mobile applications.</li>
                    <li>Participated in the development of new internal systems using .NET and ASP.NET.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2017 - October 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Linux Administator</h3>
                <div class="subheading mb-3">3n</div>
                <ul>
                    <li>Worked part-time for 3N.cz as a Linux Administrator.</li>
                    <li>Automated administrative tasks, wrote scripts, and configured different technologies and servers.</li>
                    <li>Learned how to work with tools like Docker, Nomad, Terraform, Ansible, and more.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2017 - March 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Develox s.r.o</div>
                <ul>
                    <li>Worked for Develox s.r.o as a junior web developer.</li>
                    <li>Developed web applications using ASP.NET, C#, and HTML.</li>
                    <li>Participated in developing static websites, e-shops, and other web projects.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2015 - January 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">IT Service</h3>
                <div class="subheading mb-3"><a href="https://www.vtdata.cz/" target="_blank">VT Data</a></div>
                <ul>
                    <li>Worked as a service technician for VT Data, a company that provides IT solutions and services.</li>
                    <li>Repaired, rebuilt, and maintained computers, laptops, servers, printers, and accessories.</li>
                    <li>Troubleshot and resolved hardware and software issues for customers and clients.</li>
                    <li>Used tools and technologies such as screwdrivers, soldering irons, multimeters, diagnostic software, and operating systems.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2013 - March 2014</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Projects-->
<ProjectSection />

<hr class="m-0" />

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Master's degree</div>
                <div>Information Technology</div>
                <ul>
                    <li>During my master’s program, I continued to deepen my programming skills. I explored advanced topics in software development, including design patterns, algorithms, and software architecture.</li>
                    <li>As part of my master’s program, I delved into the fascinating world of advanced data structures and algorithms. I studied topics such as AVL trees, threaded binary trees, expression trees, and B-trees.</li>
                    <li>Throughout my master’s journey, I engaged with advanced C# and C++ classes that went beyond the basics. I honed my skills in object-oriented programming, inheritance, polymorphism, and design patterns.</li>
                    <li>
                        Completed my diploma thesis Design and implementation of a multiplatform mobile application for a smart home
                    </li>
                    <li>Served as an instructor for Introduction to C and C# for 2 years</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2017 - September 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Bachelor’s degree</div>
                <div>Information Technology</div>
                <ul>
                    <li>Explored excellent IT majors at the University of Pardubice</li>
                    <li>As part of my studies, I had the opportunity to explore the exciting world of game development using Unity.</li>
                    <li>Throughout my study time, I immersed myself in various programming courses like Java, C/C++, C#. These classes ignited my passion for coding and problem-solving.</li>
                    <li>One of the most captivating aspects of my studies was diving into data structures, algorithms or databases. Understanding how data is organized and optimized for efficient processing fascinated me.</li>
                    <li>Completed my bachelor thesis Development of a multi-platform game in Unity3D</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2014 - June 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">VOŠ a SŠT Česká Třebová</h3>
                <div class="subheading mb-3">Electrical Engineering Program</div>
                <ul>
                    <li>I successfully completed the Cisco Certified Network Associate (CCNA) program, covering modules 1, 2, and 3.</li>
                    <li>During my studies, I delved into fascinating topics related to networking and operating systems. These subjects ignited my interest and laid the foundation for my IT journey.</li>
                    <li>Realized my passion lies in IT and programming</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <p>
            I'm a skilled and passionate programmer with a focus on game development and mobile platforms. Some of the skills and technologies I use are:
            - C#, C/C++, HTML, CSS, TypeScript
            - Xamarin Forms, ASP.NET, .NET MAUI, Blazor
            - Godot, Unreal Engine
            - Windows, Linux, Docker, Nomad, Terraform, Ansible

            I have been working full-time with Unreal Engine for the last three years, developing games that are fun, immersive, and challenging. Some of the games I have worked on are The Last Oricru and Phantom Fury.

            I also have experience with managing operating systems and computer networks. I have completed the Cisco Academy CCNA course.
        </p>
        <div class="subheading mb-3">Programming Languages</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Programming language</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>C#</td>
                    <td>Expert</td>
                    <td>ASP.NET, .NET MAUI, Xamarin</td>
                </tr>
                <tr class="info">
                    <td>C++</td>
                    <td>Proficient</td>
                    <td>Game development, Unreal Engine</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Frameworks & Tools</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Framework / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>.NET</td>
                    <td>Expert</td>
                    <td>Web and mobile development</td>
                </tr>
                <tr class="success">
                    <td>ASP.NET Core</td>
                    <td>Proficient</td>
                    <td>A cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Blazor</td>
                    <td>Proficient</td>
                    <td>A open source cross-platform web framework</td>
                </tr>
                <tr class="success">
                    <td>Xamarin Forms, .NET MAUI,</td>
                    <td>Proficient</td>
                    <td>A cross-platform desktop and mobile applications</td>
                </tr>
            </tbody>
        </table>

        <div class="subheading mb-3">Game Development</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Game Engine / Tools</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>Unreal Engine</td>
                    <td>Advanced</td>
                    <td>Game development, C++, Desktop, Consoles</td>
                </tr>
                <tr class="info">
                    <td>Unity</td>
                    <td>Intermediate</td>
                    <td>Game development, Desktop</td>
                </tr>
                <tr class="info">
                    <td>Godot</td>
                    <td>Advanced</td>
                    <td>Game development, C#, Desktop</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<hr class="m-0" />

<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>
            I'm a curious and aspiring game developer who loves to learn new technologies and create immersive games. Some of the hobbies and activities I enjoy are:
            <ul>
                <li>Historical fencing (HEMA), a sport that recreates historical sword fighting techniques and styles.</li>
                <li>Soccer and billiard, which I like to play with my friends for fun and relaxation.</li>
                <li>Traveling, which I like to do whenever I have some free time and explore new places and cultures.</li>
                <li>Snowboarding, which I like to do in the winter and enjoy the thrill and challenge of the slopes.</li>
            </ul>
        </p>
        <p>
            As a game developer, I have a strong curiosity and passion for learning new skills and technologies that can enhance my game development abilities.
            I enjoy exploring different frameworks, platforms, and languages that can help me create games that are fun, immersive, and challenging.
            Some of the technologies I have been working with are Unreal Engine, C++, and C#, Godot.
            Unreal Engine is a powerful and versatile game engine that allows me to create games for various platforms, such as PC, console, and mobile.
            C++ is a fast and efficient programming language that gives me low-level control and high-level abstraction.
            By using these technologies, I can develop games that are engaging, interactive, and responsive.
        </p>
    </div>
</section>