@page "/"
@using Portfolio.Components

<PageTitle>Jan Mesarč - Portfolio</PageTitle>

<AnchorNavigation />

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jan
            <span class="text-primary">Mesarč</span>
        </h1>
        <div class="subheading mb-5">
            Czech Republic
            <a href="mailto:jame_581@windowslive.com">jame_581@windowslive.com</a>
        </div>
        <p class="lead mb-3">
            I have been interested in IT technlogies since the very early age.
            I started to learn programming and it has
            become my favorite hobby. I learn the following programming
            languages, C#, Java, C/C++. My favorite programming language is
            <strong>C#</strong> and <strong>C++</strong> . Java and C/C++ I learnt on college. I also learnt
            HTML,
            CSS, Type script, and web technologies like ASP.NET. There is always time to learn something.
            So, I am trying to keep the flow with modern technologies and learn the best out of the best
            languages.
            To be able to work on my dream projects and be the best co-worker in my dream job.
        </p>
        <p class="lead mb-5">
            My dreams comes true and I'm working as Game Programmer since 2021. I'd like to
            develop
            awesome games. At the
            moment, I'm trying to bring my own projects to life. Don't forget check out my GitHub and itch.io,
            where are published my projects. I would like to be able to develop awesome
            games.
            My last projects are built on the Unreal Engine. Also, I learning with game engine Unity.
            In addition, I develop web aplications using ASP.NET Core and mobile applications in Xamarin Forms.
        </p>
        <div class="social-icons row justify-content-md-left">
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.linkedin.com/in/jan-mesarc/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://twitter.com/jame581">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener"
               href="https://www.facebook.com/mesarc.jan">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://github.com/jame581">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://jame581.itch.io/">
                <i class="fa-brands fa-itch-io"></i>
            </a>
            <a class="social-icon mb-2 text-decoration-none" target="_blank" rel="noopener" href="https://www.reddit.com/user/jame_581">
                <i class="fa-brands fa-reddit-alien"></i>
            </a>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Programmer</h3>
                <div class="subheading mb-3">Freelancer</div>
                <p>
                    Since January 2022 till now. I started working as freelancer. I developing mobile
                    application, web application and other software.
                    Currently I have more projects and my main focus is on game development and Unreal Engine. I
                    specialize on gameplay and networking systems.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2021 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Game Programmer</h3>
                <div class="subheading mb-3">Grip Digital</div>
                <p>
                    Since January 2021. I worked for game studio Grip Digital as Gameplay and
                    UI programmer.
                    It was Unreal Engine based game development and C++ programming.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2021 - January 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">.NET Programmer</h3>
                <div class="subheading mb-3">Rationis</div>
                <p>
                    In March 2019 I worked for company Rationis. I participate in
                    the development of the ARC system, which is a comprehensive
                    system for remote management of inflatable halls from Calypso.
                    Also, I working as an external worker for Quadient Company on their Inspire Cloud project.
                    I'm learning a new technologies like React a Bobril.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2019 - December 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET Programmer</h3>
                <div class="subheading mb-3">Unicorn</div>
                <p>
                    I joined Unicorn in November 2017 as a junior developer. I participated in the development of
                    software for energy technologies. I developed a backendend a frontend part of project
                    Damas for Nordic countries.
                    I used technologies C# and Javascript. I worked with technologies like Angular JS, Knockout
                    and others.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2017 - March 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior .NET and Xamarin Programmer</h3>
                <div class="subheading mb-3">Profi Credit Czech a.s.</div>
                <p>
                    Mobile application developer. I developed a mobile application in Xamarin.
                    The application is for internal use. For development I used C# and .NET framework.
                    I participated in the backend solution and development of WCF services for communication
                    with mobile applications. I was also participate the development of new internal systems.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2017 - October 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Linux Administator</h3>
                <div class="subheading mb-3">3n</div>
                <p>
                    In June 2017, I part-time worked for 3N.cz as a Linux
                    Administrator. My job was automative administrative tasks, writing
                    scripts, configuring different technologies and servers. I've
                    learned how to work with tools like Docker, Nomad, Terraform, Ansable, and more.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2017 - March 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Developer</h3>
                <div class="subheading mb-3">Develox s.r.o</div>
                <p>
                    From August 2015 till January 2017, I worked for Develox s.r.o. My real purpose was to
                    develop web applications using ASP.NET. I participated in developing static websites, web
                    applications such
                    as an e-shops and others.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2015 - January 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">IT Service</h3>
                <div class="subheading mb-3">VT Data</div>
                <p>
                    From 2013 to 2014, I worked for VT Data as a service technician. My job was
                    to repair, rebuild computers, laptops, servers, printers,
                    and accessories around computer technology.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2013 - March 2014</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Projects-->
<section class="resume-section" id="projects">
    <div class="resume-section-content">        
        <h2 class="mb-5">Projects</h2>
        <h3 class="mb-3">Games on itch.io</h3>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-none d-lg-block">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1841291?linkback=true" width="552"
                        height="167">
                    <a href="https://jame581.itch.io/shoot-numbers">
                        Shoot Numbers by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-none d-lg-block">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418155?linkback=true" width="552"
                        height="167">
                    <a href="https://jame581.itch.io/romw">
                        Rocket of Milky Way by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-none d-lg-block">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418268?linkback=true" width="552"
                        height="167">
                    <a href="https://jame581.itch.io/submarinened">
                        Submarinened by
                        jame581
                    </a>
                </iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1841291" width="208" height="167"><a href="https://jame581.itch.io/shoot-numbers">Shoot Numbers by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418155" width="208" height="167"><a href="https://jame581.itch.io/romw">Rocket of Milky Way by jame581</a></iframe>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d-lg-none">
            <div class="flex-grow-1">
                <iframe frameborder="0" src="https://itch.io/embed/1418268" width="208" height="167"><a href="https://jame581.itch.io/submarinened">Submarinened by jame581</a></iframe>
            </div>
        </div>       
    </div>
</section>

<hr class="m-0" />

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Master's degree</div>
                <div>Information Technology</div>
                <p>
                    In September 2019 I finally completed my diploma thesis and gratuaded in University of
                    Pardubice, again.
                    So, trust me I am an Engineer :) Currently, I am helping at the
                    University of Pardubice as an instructor of Introduction to C and C#.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2017 - September 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Pardubice</h3>
                <div class="subheading mb-3">Bachelor’s degree</div>
                <div>Information Technology</div>
                <p>
                    I have decided to continued in studies and found out that the University of Pardubice has a
                    really good majors in IT.
                    I successfully graduated in June 2017 from Information Technologies in University of
                    Pardubice.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2014 - June 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">VOŠ a SŠT Česká Třebová</h3>
                <div class="subheading mb-3">Electrical Engineering Program</div>
                <p>
                    I studied at the Technical School in České Třebové, where I graduated in 2014 in Electrical
                    Engineering. But it was not my cup of tea and I always enjoyed IT department and
                    programming.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
        </div>
    </div>
</section>

<hr class="m-0" />

<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <p>
            I spend most of my time improving my programming and developing skill.
            <strong>My favorite language is C#</strong>. At the
            moment, I'm most concerned with the development of mobile
            platforms. Xamarin framework for multiplatform applications and Unity3D for game development.
            Last couple months I started learning Unreal Engine.
        </p>
        <p>
            In addition to programming, I deal with the management of
            operating systems, I have experience with Windows and Linux OS. I
            also deal with computer networks. I have completed the first 3
            semesters of the Cisco Academy CCNA course.
        </p>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Programming language</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>C#</td>
                    <td>Advanced</td>
                    <td>Windows Forms, Mobile (UWP), WCF</td>
                </tr>
                <tr class="info">
                    <td>C++</td>
                    <td>Semi-Intermediate</td>
                    <td>Game development, Unreal Engine</td>
                </tr>
                <tr class="success">
                    <td>Xamarin</td>
                    <td>Intermediate</td>
                    <td>Android, Windows, iOS</td>
                </tr>
                <tr class="success">
                    <td>Typescript</td>
                    <td>Semi-Intermediate</td>
                    <td>Web technology, React</td>
                </tr>
            </tbody>
        </table>
        <div class="subheading mb-3">Game development</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>Unity</td>
                    <td>Semi-Intermediate</td>
                    <td>Desktop, Mobile platforms</td>
                </tr>
                <tr class="success">
                    <td>Unreal Engine</td>
                    <td>Intermediate</td>
                    <td>Desktop, Console</td>
                </tr>
            </tbody>
        </table>
        <div class="subheading mb-3">Web</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Web technology</th>
                    <th>Level</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>HTML</td>
                    <td>Advanced</td>
                    <td>Version 5</td>
                </tr>
                <tr class="success">
                    <td>CSS</td>
                    <td>Advanced</td>
                    <td>Version 4</td>
                </tr>
                <tr class="success">
                    <td>Bootstrap</td>
                    <td>Advanced</td>
                    <td>Version 5</td>
                </tr>
                <tr class="success">
                    <td>ASP.NET</td>
                    <td>Intermediate</td>
                    <td>Version 7</td>
                </tr>
                <tr class="info">
                    <td>WCF</td>
                    <td>Semi-Intermediate</td>
                    <td>Version 4.5</td>
                </tr>
                <tr class="info">
                    <td>React</td>
                    <td>Semi-Intermediate</td>
                    <td>16.x</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<hr class="m-0" />

<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>
            Other hobbies, besides programming and IT, include sport like
            historical fencing, football or billiard. I like to travel, but because
            of the current workload of the full-time job and my own projects, I do not
            have too much free time.
        </p>
        <p>
            Apart from being a programmer, I enjoy most of my time sport like historical fencing (HEMA). Also I
            like football or billiard with friends.
            I enjoy traveling but because of the current workload and my own projects, I do not have too much
            free time.
            In the winter, I like snowboarding.
        </p>
        <p class="mb-0">
            I am an curious and aspiring, and that's why, I spend a large amount of my free time
            exploring and learning the latest
            technology advancements in the game development world.
        </p>
    </div>
</section>